/* Página doe */

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
   font-family: 'Nunito Sans', sans-serif; 
    font-size: 14pt;
    background-color: white;
    color: black;
    margin: 0px;
}

.titulo1 {
  margin: 20px;
  background-color: #50772d;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}
h1 {
    font-size: 24px;
    margin-bottom: 30px;
}
/* HEADER COM IMAGENS E PARÁGRAFOS */
.header-container {
  background-color: #eaeba0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 0px;
}

.bloco-doacao {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bloco-doacao img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  aspect-ratio: 16 / 9;

}

.bloco-doacao p {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin: 0;
  flex: 1;
}
.bloco-doacao h2{
  

}


/*Caixa verde com textos que fica junto ao qr*/
.doacao-texto {
    max-width: 600px;

}

.doacao-texto h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.doacao-texto p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}


.preco {
    font-weight: bold;
    text-decoration: underline;
}

/* QR Code Sessão */
.qrCodeDoe {
  display: flex; /* Troca de grid para flexbox */
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  background-color: #c6e5b1;
  padding: 30px;
  border-radius: 15px;
  margin: 40px;
}

.qrCodeDoe .texto {
  flex: 2;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #000;
  text-align: center;
}

.qrCodeDoe .texto p {
  margin-bottom: 20px;
}

.qrCodeDoe .qrcode {
  flex: 1;
  text-align: center;
}

.qrCodeDoe .qrcode img {
  max-width: 100%;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
}

.qrCodeDoe .qrcode p {
  margin-top: 10px;
  font-size: 14px;
}
.tabelaValores{
  background-color: #50772d;
  border-radius: 10px;
  color: white;
  font-family: "Nunito sans", sans-serif;
}
.tabelaValores ol{
 margin-bottom: 5px;
}

/*Basicamente o footer*/
.titulo2 {
  border-radius: 10px;
  background-color: #50772d;
  padding: 10px;
  
  text-align: center;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

.leisIcentivo{
 
  background-color: #b99fcc;
  margin: 20px;
  border-radius: 10px;
}

.leisIcentivo p{
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14pt;
}
.botaolermais{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-lermais {
  background-color: #50772d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  font-weight: bold;
  
}

.btn-lermais:hover {
  background-color: #406020;
}

